{% extends 'news/base.html' %}
{% load static %}
{% block title %}<title>Login sahifasi</title>{% endblock title %}

{% block content %}

    <h2>Veb sahifadan ro'yhatdan o'tish - Login</h2>
    <p>Iltimos, ro'yhatdan o'tish uchun quyidagi bo'shliqlarni to'ldiring!</p>

    <form method="post">{% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Login</button>
    </form>
<h5>Parolingizni unutdingizmi? <b><i><a href="{% url 'password_reset' %}">Unda parolingizni qayta tiklang!</a></i></b></h5>
<h5>Agar foydalanuvchi profilingiz bo'lmasa <b><i><a href="{% url 'user_registr' %}">ro'yxatdan o'tishingiz</a></i></b> kerak!</h5>

{% endblock content %}