{% extends 'news/base.html' %}
{% load static %}
{% block title %}<title>Parolini o'zgartirish</title>{% endblock title %}

{% block content %}

    <h1>Parolni o'zgartirish emaili yuborildi</h1>
    <p>Parolni o'zgartirish uchun emailingizga parolni tiklash uchun link yuborildi.</p>
<p>Agar linkni olmagan bo'lsangiz, qayta urinib ko'ring.</p>

    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Parolni almashtirish</button>
    </form>

{% endblock content %}