{% extends 'news/base.html' %}
{% load static %}
{% block title %}<title>Foydalanuvchi parolini tiklash</title>{% endblock title %}

{% block content %}

    <h1>Parolni tiklash</h1>
{% if validlink %}
    <p>Iltimos yangi parolni ikki marta kiriting.</p>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Parolni almashtirish</button>
    </form>
{% else %}
    <p>Siz noto'g'ri linkdan foydalandingiz, u avvalroq foydalanilgan yoli ishlatilish vaqti o'tgan bo'lishi mumkin.</p>
{% endif %}


{% endblock content %}